*{
    margin:0;
    padding:0;
    max-width: 100%;
}
:root{
    --c-background: white;
    --c-text: black;
    --c-panel: orange;
}
.panel{
    background-color: var(--c-panel);
    min-height: 30px;
    max-height: 200px;
    margin: 0;
    max-width: 100%;
    display: block;
    padding: 5px 10px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body{
    background-color: var(--c-background);
}
.cu_glav{
    color: black;
    font-size: 40px;
    margin: -5px 0 0 10px;
    float:left;
    text-decoration: none;
    font-weight: 900;
    padding: 0;
}
.cu_glav:hover{
    color: blanchedalmond;
    transition: all .5s;
}
.info{
    margin-right: 30px;
    text-decoration: none;
    color: rgb(255, 247, 213);
    font-size: 30px;
    padding: 5px;
    margin-top: -5px;
    float: right;
}
.inst{
    margin-right:20px;
    text-decoration: none;
    color: rgb(255, 247, 213);
    font-size: 30px;
    padding: 5px;
    margin-top: -5px;
    float: right;
}
.inst:hover, .info:hover{
    color: rgb(160, 9, 155);
    transition: all .5s;
}
#osn{
    text-align: center;
    color: var(--c-text);
    width: 95%;
}
.pn{
    float: right;
}
#cuprum{
    font-size: 120px;
    margin-bottom: 0px;
    margin-top: 70px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.pr{
    font-size: 40px;
    margin-top: 0px;
    margin-left: 240px;
}
.wiki{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}
.copper{
    color: var(--c-text);
    width: 500px;
    margin: 0px;
    /*display: flex;
    flex-direction: column;*/
}
img{
    display: block;
    margin-right: 10%;
    margin-left: 20%;
}
/*Info site*/
.web_info{
    width: 90%;
    color: var(--c-text);
    margin: 50px auto;
    font-size: 25px;
}
/*ОБОВЯЗКОВО якщо треба прижати в низ*/
#page_warp{
    min-height: 95%;
    position: relative;
}
html, body{height: 100%;}
/*Footer*/
footer{
    width: 100%;
    position: absolute;
    border-top: 1px solid var(--c-panel);
}
footer p{
    color: var(--c-text);
    float: right;
    margin-right: 20px;
    font-size: 20px;
}
/*Під телефони*/
@media(max-width: 420px){
    .copper{
        width: 200px;
    }
    .wiki{
        margin-left: 20px;
        margin-top: 20px;
    }
    img{
        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
    #osn{
        transform: scale(0.7);
        margin-top: -50px;
        margin-left: -15px;
    }
    .pr{
        margin-left: 300px;
    }
    .info{
        margin-right: 10px;
    }
    .inst{
        margin-right: 10px;
    }
    .cu_glav{
        margin-left: 10px;
    }
}
/*Тема*/
@media (prefers-color-scheme: dark){
    :root{
        --c-background:black;
        --c-text: white;
    }
}